---

---

<nav class="fixed top-0 left-0 w-full z-50">
  <div class="bg-black/40 w-full">
    <div class="max-w-5xl mx-auto grid grid-cols-3 items-center px-8 py-2">
      <a
        href="#"
        class="flex items-center space-x-3 rtl:space-x-reverse"
        aria-label="San Andreas Roleplay"
      >
        <img
          src="/images/sa_logo.png"
          class="h-14 w-auto md:h-10 object-contain hover:scale-105 transition-all duration-300 select-none"
          alt="San Andreas Roleplay Logo"
        />
        <span
          class="hidden md:block self-center text-lg font-semibold whitespace-nowrap dark:text-white"
          >TSI Global Investments</span
        >
      </a>
      <ul class="hidden md:flex flex-row gap-x-6 justify-center">
        <li>
          <a
            href="https://forum.sarp.es"
            target="_blank"
            class="block py-4 text-white hover:text-primary transition-colors duration-300"
            aria-label="Foro de San Andreas Roleplay"
          >
            Foro
          </a>
        </li>
        <li>
          <a
            href="https://discord.gg/sa-rp"
            target="_blank"
            class="block py-4 text-white hover:text-primary transition-colors duration-300"
            aria-label="Unirse al servidor de Discord de San Andreas Roleplay"
          >
            Discord
          </a>
        </li>
        <li>
          <a
            href="https://ucp.sarp.es"
            target="_blank"
            class="block py-4 text-white hover:text-primary transition-colors duration-300"
            aria-label="Panel de control de usuario de San Andreas Roleplay"
          >
            PCU
          </a>
        </li>
      </ul>
      <div class="flex justify-end col-start-3">
        <a
          class="px-4 py-2 text-md font-bold rounded-lg transition-all duration-300 hover:scale-105 border-2 border-primary text-primary hover:bg-primary hover:text-black dark:text-white"
          href="https://ucp.sarp.es/auth/signup"
          target="_blank"
          aria-label="Registrarse en San Andreas Roleplay"
        >
          Get Started
        </a>
      </div>
    </div>
  </div>
</nav>