---
import "../styles/global.css";

// Layout imports
import Layout from '../layouts/Layout.astro';
import Footer from '../components/layout/Footer.astro';
import Header from '../components/layout/Header.astro';

// Section imports
import About from '../components/About.astro';
import FAQ from '../components/FAQ.astro';
import Testimonials from '../components/Testimonials.astro';
import Welcome from '../components/Welcome.astro';
import WhyInvest from '../components/WhyInvest.astro';
import Contact from "../components/Contact.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home">
	<div class="bg-gradient-to-br from-gray-900 via-gray-800 to-gray-700">
		<Welcome />
		<About />
		<WhyInvest />
		<Testimonials />
		<Contact />
		<FAQ />
		<Footer />
	</div>
</Layout>
